# activate nix environment
use flake

# source python venv
watch_file uv.lock
watch_file pyproject.toml
watch_file core/pyproject.toml
watch_file api/pyproject.toml
watch_file cli/pyproject.toml
if [ ! -d ".venv" ]; then
    uv venv
fi
uv sync --all-packages
source .venv/bin/activate